<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!--<link rel="stylesheet" href="/vendors/bootstrap.min.css">-->
    <link rel="stylesheet" href="/assets/styles/style.css">

    <script type="text/javascript" src="/vendors/angular.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/admin.js"></script>
</head>
<body>
<div class = "messageBoard" ng-controller="messageController">
    <form id = 'inputMessage'>
        <h1>Message Board</h1>
        <label for = "messageTitle">Title</label>
        <input ng-model = "message.title" type = "text" id = 'messageTitle'
               placeholder = 'Type message title here' autofocus>
        <label for = "messageText">Message</label>
        <textarea ng-model = "message.message_text" type = "text" id = "messageText"
                  placeholder = 'type message here'></textarea>
        <label for = "messageWriter">Username</label>
        <input ng-model = "message.name" type = "text" id = "messageWriter"
               placeholder = 'Type username Here' required>
    </form>
    <div class ="submitButton">
        <input ng-click = "submitMessage(message)" type = "submit" id ="submitButton" name = "submitButton">
    </div>
    <div id = "userMessages"></div>
    <div class = "message" ng-repeat="message in messageArray">
        <p>Title: {{message.title}}</p>
        <p class = "message-text">{{message.message}}</p>
        <p>Name: {{message.name}}</p>
        <div class = 'delete_button' ng-click="deleteMessage(message)">Delete</div>
    </div>
</div>
</body>
</html>